/* .intro-text {
    padding-top: 200px important;
}
*/
.coba {
    text-align: left;
    padding-top: 10px important;
}

.intro-lead-in,
.intro-heading {
    text-align: left;
}

.intro-text {
    padding-top: 10px important;
}

.button {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12) important;
}

.my-center {
    text-align: center;
}

/* @media (min-width: 768px) header.masthead .intro-text {
    padding-top: 200px;
    padding-bottom: 200px;
} */