/* GENERAL */

/* warna
#fed136 ->kuning;
#2693ff ->biru; 

*/



@font-face {
    font-family: us-font;
    src: url(../../fonts/quicksand/Quicksand-Bold.otf) format("truetype");
    font-weight: bold;


}

@font-face {
    font-family: us-font;
    src: url(../../fonts/quicksand/Quicksand-Light.otf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: us-font;
    src: url(../../fonts/quicksand/Quicksand-Regular.otf) format("truetype");
}


* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    font-family: us-font, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    scroll-behavior: smooth !important;
}

.us-navbar .nav-link {
    color: white !important;
}

.u-ppku {
    display: none;
}

.inbox {
    line-height: 1;
}

a {
    text-decoration: none !important;
    color: #2693ff;
}

body {
    font-family: us-font;
    font-weight: normal;
    box-sizing: border-box;
    color: #53565A !important;
}

.fa {
    font-family: FontAwesome !important;
    color: grey !important;
}

ul.social-buttons li a {
    background-color: none !important;
    border: 1px solid grey !important;
}

/* a:hover {
    color: #FD6100 !important;
} */

.us-daftar2 {

    padding: 0 10px 1px 1px !important;
    width: auto !important;
    background-color: #fff !important;
    color: #007bff !important;
    border-radius: 100px !important;
    font-weight: normal !important;
}

.us-daftar2:hover,
.us-daftar2:focus,
.us-daftar2:active {
    background-color: #fff !important;
    box-shadow: none !important;
    font-weight: bold !important;
}

.ppbunder {
    border-radius: 100% !important;
    background-color: #fff !important;
}

.u-login {
    /* background: -webkit-linear-gradient(left, #fe9d5d, #49fc25); */
}

.login-container,
.modal-body {
    padding: 0 !important;
}

.login-wrapper {
    padding-top: 0 !important;
    padding-bottom: 10 !important;
}

.login-container {
    min-height: auto !important;
}

.login-container .login-wrapper {
    box-shadow: none !important;
    padding-bottom: 20px !important;
}


.login-title {
    padding: 12px !important;
    padding-bottom: 20px !important;
}

.u-login .login-button {
    background-color: #007bff !important;
}

/* HEADER */
.us-bg-header {
    /* background-image: url(../../img/header.jpg); */
    background-image: url(../../img/beranda/dokter-dilaptop.jpg);
    /* width: 500px; */
    /* background: rgba(31, 64, 127, 1); */
    background-repeat: no-repeat;
    background-position: right bottom !important;
    /* margin-right: 100px !important;
    margin-bottom: 100px !important; */
    background-size: 100px !important;
}

.us-header {
    /* background-color: #365984 !important; */
    background-color: #E7F0FD !important;
    color: #2693ff !important;
    padding: 30px;
    padding-bottom: 0 !important;
    border-radius: 0 0 7px 7px;
    display: inline-block;
}

.us-header2 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    border-radius: 7px 7px 0 0;
    background-color: #2374c5;
    /* width: 519px; */
    bottom: 0;
    height: 200px;
}

.lebihlanjut {
    border: 1px solid white;
    padding: 5px 30px;
    display: inline-block;
    border-radius: 10px;
    /* color: white; */
    color: white;
    font-weight: normal;
}

.lebihlanjut2 {
    /* border: 1px solid #ff6e4d; */
    background-color: #2374c5;
    padding: 5px 30px;
    display: inline-block;
    border-radius: 10px;
    /* color: white; */
    /* color: #ff6e4d; */
    color: white;
    font-weight: normal;
}

.lebihlanjut3 {
    /* border: 1px solid #ff6e4d; */
    /* background-color: #FF584D; */
    background-color: #ff9534;
    padding: 5px 30px;
    display: inline-block;
    border-radius: 10px;
    /* color: white; */
    /* color: #ff6e4d; */
    color: white;
    font-weight: normal;
}



.lebihlanjut:hover,
.lebihlanjut:focus,
.lebihlanjut2:hover,
.lebihlanjut2:focus,
.lebihlanjut3:hover,
.lebihlanjut3:focus {
    font-weight: bolder;
    cursor: pointer;
}

.intro-lead-in,
.intro-heading {
    text-align: left;
}

.intro-text {
    /* padding-top: 10px; */
}

.u-intro2 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    border-radius: 0 0 7px 7px;
    /* background-color: #fed136; */
    background-color: #E7F0FD;
    bottom: 0;
    /* height: 200px; */
    display: inline-block;
    color: #ff6e4d;
}

.u-intro3 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    border-radius: 0 0 7px 7px;

    background-color: #E7F0FD;
    bottom: 0;

    display: inline-block;
    color: #03853b;
}

.intro2-content {}

.button {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.us-center {
    text-align: center;
}

#mainNav.navbar-shrink {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    /* background-color: rgb(38, 147, 255) !important; */
    background: rgb(31, 64, 127);
    background: linear-gradient(128deg, rgba(31, 64, 127, 1) 0%, rgba(38, 147, 255, 1) 79%);
    2693ff;
    transition: all .5s ease;
}

header.masthead .intro-text .intro-heading {}

#mainNav .navbar-nav .nav-item .nav-link {
    font-family: us-font !important;
}

.us-navbar {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background: linear-gradient(128deg, rgba(31, 64, 127, 1) 0%, rgba(38, 147, 255, 1) 79%);
    border-radius: 0 0 30px 30px;

}

.us-navbar .fa {
    color: white !important;
}

.us-navbar a {
    text-transform: uppercase;
}


.us-nav-center {
    text-align: center
}

.us-nav-center>li .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.22);
    border-radius: 50px;
    font-weight: bold !important;
}

.us-nav-center>li {
    padding: 5px;
}

#mainNav .navbar-toggler {
    background-color: rgba(0, 0, 255, 0) !important;
    color: #fed136;
}

/* #mainNav .navbar-nav .nav-item .nav-link.active {
    text-transform: uppercase;
    color: #fed136;
} */

.us-li-daftar {
    padding-right: 0px !important;
}

.us-daftar {
    /* background-color: #FD6100; */
    width: 100px !important;
    /* mcolor: rgb(38, 147, 255); */
    border-radius: 100px !important;
    background-color: rgba(128, 128, 128, 0) !important;
    border: 1px solid white !important;
    box-shadow: none !important;
    opacity: 1 !important;
    font-size: 90%;
    font-weight: lighter;
}

.us-daftar:hover,
.us-daftar:focus {
    background-color: #ff9534 !important;
    border: none !important;
    /* transition: all .5s ease !important; */
    color: white !important;
    box-shadow: none !important;
    font-weight: bold !important;
}

.us-left {
    text-align: left !important;
}

.us-intro {
    padding-top: 0px !important;
    width: 500px;
    /* z-index: 999; */
    padding-bottom: 0 !important;
    height: 450px;
}

.us-ex-here {
    /* background-color: #fed136; */
    background-color: #ff9534;
    text-align: center;
    border-radius: 5px 5px 0 0;
    padding: 0 !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.us-ex-here:hover {
    pointer: cursor;
    background-color: white;


}

.us-ex-a {
    font-size: 17px !important;
    color: white !important;
    font-weight: bold !important;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px !important;
}

.us-ex-a:hover,
.us-ex-a:focus {
    color: #ff9534 !important;
}

/* carousel */
.u-karosel {
    /* background-color: rgb(59, 220, 38); */
    /* border-bottom: 1px solid grey; */
    padding-top: 62px;
    padding-bottom: 10px;
    height: 450px;
    margin-bottom: 60px;
    background: linear-gradient(128deg, rgba(31, 64, 127, 1) 0%, rgba(38, 147, 255, 1) 79%);
    border-radius: 0 0 96% 96%/22%;
}

.carousel-control-next:hover {}

.u-karosel .item {
    /* background-color: grey; */
}

.u-karosel-main {
    /* vbackground-color: grey; */
    /* background: linear-gradient(128deg, rgba(31, 64, 127, 1) 0%, rgba(38, 147, 255, 1) 79%); */
    padding: 24px;
    padding-bottom: 0;
    padding-top: 50px;
    /* border-radius: 0 0 30% 30%; */
    /* border-radius: 0 0 60% 60%/22%; */

}

.u-karosel-main .item {
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12) !important; */
    /* box-shadow: none !important; */
    max-height: 450px;
    border-radius: 10px;
    z-index: 9999;


}

.intro-content {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
}

.intro-bg {
    /* background-image: url(../../img/header.jpg); */
    background-image: url(../../img/beranda/dokter-dilaptop.png) !important;
    /* width: 500px; */
    /* background: rgba(31, 64, 127, 1); */
    background-repeat: no-repeat;
    background-position: 100% 50% !important;
    /* margin-right: 100px !important; */
    /* margin-bottom: 100px !important; */
    background-size: 450px !important;

}

.intro-bg2 {
    background-image: url(../../img/cek/dokter\ penjelasan.png) !important;
    background-repeat: no-repeat;
    background-position: -10% 90% !important;
    background-size: 600px !important;
    padding: 0 30px;
    /* padding-left: 0; */
    height: 450px;
}

.intro-bg3 {
    background-image: url(../../img/beranda/kuat.png) !important;
    background-repeat: no-repeat;
    background-position: 80% 80% !important;
    background-size: 400px !important;
    padding: 0 30px;
    /* padding-left: 0; */
    height: 450px;
}

.u-karosel-main .item1 {
    background: linear-gradient(45deg, rgba(31, 64, 127, 1) 0%, rgba(38, 147, 255, 1) 79%) !important;
    /* 128deg */

}

.u-karosel-main .item2 {
    background-image: linear-gradient(to right top, #ff564e, #ff7640, #ff9534, #ffb32f, #fed136) !important;
    min-height: 450px;
}

.u-karosel-main .item3 {
    background: linear-gradient(356deg, rgba(3, 133, 59, 1) 0%, rgba(174, 211, 75, 1) 100%) !important;
    background-color: #03853B;
    min-height: 450px;
}


/* .carousel-control-prev-icon {
    background-image: url("../img/cek/next.png");
} */

/* .u-karosel .owl-carousel .item {
    background-color: rgb(211, 211, 211);

    border-radius: 5px;
} */

.u-karosel-left:hover {
    background: linear-gradient(90deg, rgba(31, 65, 127, 0.542) 0%, rgba(38, 146, 255, 0) 79%)
}

.artikel-main {
    padding-bottom: 30px !important;
}

.artikel-nav {

    justify-content: center;
}

.artikel-nav>div {
    padding: 10px 24px !important;
    /* background-color: #03853b; */
}

.artikel-aktif {
    border-bottom: 2px solid #2693ff;
}

.artikel-nav>div:focus,
.artikel-nav>div:hover,
.artikel-nav>div:visited {
    border-bottom: 2px solid #2693ff;
    cursor: pointer;
    font-weight: bolder;
}

.label {
    background-color: #DAB300;
    position: absolute;
    padding: 0 10px;
    margin: 6px;
    border-radius: 30px;
    background-color: #35d23a;
    color: #FFFFFF;
    max-width: 100px;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
    height: 21px;
}

.label2 {
    background-color: #DAB300;
}

.artikel-content-main>div {
    padding: 5px;

}

.artikel-content h6 {
    font-weight: bold;
}

.artikel-content {
    max-width: 340px !important;
}

.artikel-content:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .08),
        0 21px 40px 0 rgba(0, 0, 0, .11);
    cursor: pointer;
}

.artikel-content p {
    line-height: 1.2 !important;
}

.selanjutnya {
    /* mbackground-color: #2374c5; */
    display: inline-block;
    padding: 4px 30px;
    border: 1px solid #2693ff;
    border-radius: 5px;
    color: #2693ff;
    cursor: pointer;
}

.selanjutnya:hover {
    font-weight: bold;
}

/* FOOTER */
footer {
    background-color: rgb(243, 243, 243);
    background-color: ;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.us-footer-1>img+img {
    margin: 15px 5px;
}

.us-footer-2 {
    max-width: 23%;
}

.us-footer-2>a {
    color: rgb(38, 147, 255) !important;
    font-weight: bold;
    text-decoration: none;
    /* text-transform: uppercase; */
}

.us-footer-3 b {
    font-size: 20px;
    /* font-weight: normal; */
    color: rgb(38, 147, 255);
    margin-bottom: 10px !important;
    display: inline-block;
}

#mainNav .navbar-nav .nav-item .nav-link {
    padding: 0.5em 1em !important;
}

/* .us-footer-2>a {
    line-height: 25px !important;
} */

.us-footer-2>a:hover {
    color: #fed136 !important;
}

.us-sosmed i {
    display: inline !important;
}

.us-sosmed li a {
    width: 32px !important;
    height: 32px !important;
    line-height: 32px !important;
    padding-left: 8px !important;
    text-decoration: none !important;
}

.us-sosmed li span:hover {
    color: #fed136 !important;
}

.us-sosmed li a span {
    color: #53565A;
}

/* @media (min-width:768px) { */

@media (max-width: 992px) {

    #mainNav.navbar-shrink {
        padding-bottom: 5px !important;
    }

    .us-navbar {
        background: rgb(31, 64, 127);
        background: linear-gradient(128deg, rgba(31, 64, 127, 1) 0%, rgba(38, 147, 255, 1) 79%);
        spadding-bottom: 10px !important;

    }

    .u-karosel-main {
        padding-top: 20px;
    }

    .artikel-content-main {
        flex-wrap: wrap !important;

    }

    .artikel-content-main>div {
        width: 50%;
    }

    .artikel-content-main .card {
        height: 399px;
    }

    .art-cont2 {
        margin-top: 0px !important;
        background-color: #007bff;
    }

    /* body {
        background-color: #82beff !important;
    } */

}


@media (max-width: 768px) {
    /* body {
        background-color: #ffa880;
    } */

    .us-daftar {
        width: 100% !important;
    }

    .us-footer>div {
        padding-bottom: 20px !important;
    }

    .us-footer-2 {
        max-width: 100%;
    }

    .artikel-content-main>div,
    .artikel-content-main .card {
        width: 100%;
    }

    .artikel-content {
        max-width: 100% !important;
        margin-bottom: 10px;
    }

    .artikel-content-main .card {
        height: auto;
    }

    .artikel-nav {
        overflow-x: auto;
        white-space: nowrap;
        justify-content: start !important;
    }

    .us-intro {
        width: auto;
    }

}