.k-main {
    padding-top: 70px !important;
}

.k-navbar {
    background: linear-gradient(128deg, rgba(31, 64, 127, 1) 0%, rgba(38, 147, 255, 1) 79%) !important;

}

.k-main-sub>div {
    border: 1px solid rgb(222, 226, 230);
    border-radius: 5px;
    min-height: 400px;
}

.k-search {
    background-color: rgb(238, 237, 237);
    padding: 20px;
}

.k-search-input {
    width: 800px;
    margin: 0 auto;
}

.k-main-content {
    padding: 0 15px;
}

.k-profil .card-img-top {
    width: 80px !important;
    margin: 0 20px;
    margin-left: auto;
    margin-right: auto;
}