/* #007bff */

.h-main {
    height: 550px;
}


* {
    scroll-behavior: smooth !important;
}

body {
    box-sizing: border-box !important;
    background-color: #e9ecef90;
    color: #53565a !important;
}

.us-daftar2 {

    padding: 0 10px 1px 1px !important;
    width: auto !important;
    background-color: #fff !important;
    color: #007bff !important;
    border-radius: 100px !important;
    font-weight: normal !important;
}

.us-daftar2:hover,
.us-daftar2:focus,
.us-daftar2:active {
    background-color: #fff !important;
    box-shadow: none !important;
    font-weight: bold !important;
}

.ppbunder {
    border-radius: 100% !important;
    background-color: #fff !important;
}

.inbox {
    line-height: 1;
}


.k-main {
    padding-top: 70px !important;
}

.k-navbar {
    background: linear-gradient(128deg, rgba(31, 64, 127, 1) 0%, rgba(38, 147, 255, 1) 79%) !important;

}

.k-main-sub {
    min-height: 550px;
    margin-left: 0;
    margin-right: 0;
}

.k-main-sub>.col {
    padding-right: 0;
    background-color: white;
}

.k-main-sub>div:first-child {
    padding-right: 0;
    background-color: white;
}

.c-main-left p {
    font-size: 14px;
    line-height: 20px;
}

.next-icon {}

.left-karosel {
    height: 200px;
}

.k-main-sub>div {
    border: 1px solid rgb(222, 226, 230);
    border-radius: 5px;
    height: 530px;

}

.c-karosel img {
    width: 200px;
}

.k-search {
    background-color: rgb(238, 237, 237);
    padding: 20px;
    margin-right: 0;
}

.k-search-input {
    width: 800px;
    margin: 0 auto;
}

.k-main-content {
    padding: 0 15px;
}

.k-konten-right {
    height: 400px;
}

.k-profil {
    padding: 0;
}

.k-profil button {
    klinear-gradient(to right top, #ff564e, #ff7640, #ff9534, #ffb32f, #fed136);
    background-color: #ff9534;
    border: none;
}

.k-profil button:focus,
.k-profil button:active {
    color: white !important;
    box-shadow: none !important;
}

.profil-kanan {
    width: 100px;
}

.k-profil .card-img-top {
    width: 80px !important;
    margin: 0 20px;
    margin-left: auto;
    margin-right: auto;

}

.k-search-button {
    background: #007bff;
    cursor: pointer;
    color: white;
}

.k-search-button:hover {
    /* background-color: #fff; */
}

.kartu {
    /* box-shadow: 0 2px 4px 0 rgba(23, 22, 22, .21); */
    margin: 5px;
}

.k-aktif-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 6px;
    right: 4px;
    background: #00e092;
}

.text-muted img {
    vertical-align: 0 !important;

}

.online {
    font-size: 12px !important;
}

@media (max-width: 992px) {
    .artikel-content-main {
        flex-wrap: wrap !important;
    }

    .k-main-sub {
        /* flex-wrap: wrap !important; */
        flex-direction: column;
    }

    .k-main-sub>div {
        max-width: 100% !important;
        margin-bottom: 7px;
        height: auto;
    }



    .artikel-content-main>div {
        width: 50%;
    }

    .artikel-content-main .card {
        height: 399px;
    }

    .art-cont2 {
        margin-top: 0px !important;
        background-color: #007bff;
    }

    .k-main-sub>div+div {
        margin-top: 12px;
    }

    body {
        /* background-color: #82beff !important; */
    }

}


@media (max-width: 768px) {
    body {
        /* background-color: #ffa880; */
    }

    .c-main-left {
        display: none;
    }

    .kartu {
        flex-direction: column !important;
    }

    .profil-kanan {
        width: 100%;
    }

    .border-left {
        border-left: 0 solid #dee2e6 !important;
        border-top: 1px solid #dee2e6 !important;
    }

    .k-profil {
        margin-bottom: 8px !important;

    }

    .kartu {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
            0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    }

    .k-konten-right {
        overflow: unset !important;
    }

    .k-main-sub>.col {
        padding-right: 15px;
        background-color: white;
    }



    .k-search {
        margin-right: -15px;
    }

    .k-konten-right {
        height: auto;
    }

    .profil-kanan>div:first-child {
        padding: 4px;
        margin-bottom: 7px !important;
    }

    .profil-kanan button {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    /* body {
        background-color: #007bff;
    } */

    .kartu {
        margin: auto -40px auto -40px;
    }
}